.modal-overlay {
  position: absolute;
  z-index: 50;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
  width: 960px; /* TODO: responsive size for mobile environment by using media function */
  height: 600px;
  max-width: 100%;
  background-color: #ffffff;
  border: 1px solid #bebebe;
  border-radius: 20px;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-evenly;
  overflow-x: auto;
  overflow-y: scroll;
}

.modal-left {
  display: flex;
  flex-grow: 1.5;
  justify-content: center;
  align-items: center;
  padding: 2em 1em;
  max-width: 66%;
}

.modal-image {
  display: flex;
  max-width: 100%;
  max-height: 100%;
}

.modal-right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  padding: 1em;
  max-width: 34%;
}

.modal-close {
  font-size: 30px;
  cursor: pointer;
  text-align: end;
  position: absolute;
  right: 1em;
}

.modal-profile {
  margin: 1em 0;
  height: 3em;
  display: flex;
  justify-content: flex-start;
}

.modal-profile_image {
  height: 3em;
  width: 3em;
  border: none;
  border-radius: 0%;
}

.modal-profile_text {
  height: 100%;
  padding: 0 2em;
  justify-content: center;
  align-items: center;
  display: flex;
  max-width: fit-content;
}

.modal-date {
  flex-grow: 1;
}

.modal-comment {
  margin: 1em 0;
  flex-grow: 2;
}

.modal-tags {
  flex-grow: 1;
}
.modal-description {
  flex-grow: 1;
}

.modal-buttons {
  display: flex;
  justify-content: space-evenly;
}
